# ==================== PostgreSQL ====================
# Настройки подключения к базе данных
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=org_structure
DB_SSLMODE=disable

# ==================== Приложение ====================
# Порт, на котором будет работать API
PORT=8080